/*=================================== GLOBAL ========================== */
/* widgets */
QWidget {
    background-color: --bg-primary;
    color: --fg-primary;
    border: none;
    font-family: "Lexend";
    font-size: 12px;
}

#line {
    background-color: --fg-primary;
}

/* button */
QPushButton {
    background-color: --btn-general;
    border: none;
}

QPushButton:hover {
    background-color: --btn-general-hover;
}

/* toolbutton */
QToolButton {
    background-color: --bg-secondary;
    border-radius: 2px;
    padding-top: 10px;
}
QToolButton:hover {
    background-color: --fg-secondary;
    color: --bg-primary;
}
QToolButton:pressed {
    background-color: --fg-primary;
    color: --bg-primary;
}

/* menubar */
QMenuBar, QMenu {
    background-color: --bg-secondary;
    font-size: 14px;
}
QMenu::item:selected {
    background-color: --fg-primary;
    color: --bg-primary;
}
QMenu::item:hover {
    background-color: --fg-secondary;
    color: --bg-primary;
}
QMenuBar::item:selected {
    background-color: --fg-primary;
    color: --bg-primary;
}
QMenuBar::item:hover {
    background-color: --fg-secondary;
    color: --bg-primary;
}

/* dialog */
QDialog {
    background-color: --bg-secondary;
}
QDialog QWidget {
    background-color: --bg-secondary;
}
QDialog QLineEdit {
    background-color: --fg-primary;
    color: --bg-primary;
    border: none;
    border-radius: 2px;
}

/* combobox */
QComboBox QAbstractItemView {
    selection-background-color: #4682B4;
    background-color: --fg-secondary;
    color: --bg-primary;
}


/*====================================== HEADERS ===============================*/
/* general */
.bold {
    font-weight: bold;
}
.underlined {
    border-bottom: 1px solid --fg-primary;
}

/* main app */
#lb_app_name {
    font-size: 32px;
    font-weight: bold;
    color: --fg-primary;
}

/* window */
.window-title {
    font-size: 24px;
    font-weight: bold;
}

.welcome-text {
    font-size: 36px;
    font-weight: bold;
}

/* dialog */
.dialog-title {
    font-size: 18px;
    font-weight: bold;
    background-color: --fg-primary;
    color: --bg-primary;
}

#CashCounter .close-total {
    font-size: 24px;
    /* font-weight: bold; */
    background-color: blueviolet;
}


/*===================================== BUTTONS =======================================*/
.primary-button {
    border: none;
    border-radius: 5px;
    text-align: left;
    padding-left: 20px;
}
.primary-button:hover {
    background-color: rgb(0, 49, 105);
    color: --fg-primary;
}

#CustomerManager .close-button {
    background-color: --btn-danger;
    color: --fg-primary;
}
#CustomerManager .close-button:hover {
    background-color: --btn-danger-hover;
    color: --fg-primary;
}

.calculate-button {
    background-color: --fg-secondary;
    color: --bg-secondary;
}
